<li>
    <img src="{{image}}" alt="{{breed.breed}} photo">
    <h3>{{name}}</h3>
    <p><span>Breed: </span>{{breed.breed}}</p>
    <p><span>Description: </span>{{description}}{{_id}}</p>
    <ul class="buttons">
        <li class="btn edit"><a href="\cats\edit\\{{_id}}">Change Info</a></li>
        <li class="btn delete"><a href="\cats\shelter\\{{_id}}">New Home</a></li>
    </ul>
</li>